/* for default styling that includes:

    font settings,
    body,
    html,
    vars

*/

body,html{
    @apply m-0 w-full h-full
}

body{
    font-family: 'Franklin Gothic';
    font-size:1rem;

    nav{
        font-family: Arial;
    }

    h1{
        @apply text-3xl font-bold
    }

    h2{
        @apply text-2xl
    }
    p{
        @apply text-lg
    }
}
